bin/Debug/net7.0/tui_editor.deps.json
bin/Debug/net7.0/tui_editor.dll
bin/Debug/net7.0/tui_editor.exe
bin/Debug/net7.0/tui_editor.pdb
bin/Debug/net7.0/tui_editor.runtimeconfig.json

bin/Debug/net7.0/win-x64/clretwrc.dll
bin/Debug/net7.0/win-x64/clrgc.dll
bin/Debug/net7.0/win-x64/clrjit.dll
bin/Debug/net7.0/win-x64/coreclr.dll
bin/Debug/net7.0/win-x64/createdump.exe
bin/Debug/net7.0/win-x64/hostfxr.dll
bin/Debug/net7.0/win-x64/hostpolicy.dll
bin/Debug/net7.0/win-x64/Microsoft.CSharp.dll
bin/Debug/net7.0/win-x64/Microsoft.DiaSymReader.Native.amd64.dll
bin/Debug/net7.0/win-x64/Microsoft.VisualBasic.Core.dll
bin/Debug/net7.0/win-x64/Microsoft.VisualBasic.dll
bin/Debug/net7.0/win-x64/Microsoft.Win32.Primitives.dll
bin/Debug/net7.0/win-x64/Microsoft.Win32.Registry.dll
bin/Debug/net7.0/win-x64/mscordaccore_amd64_amd64_7.0.122.56804.dll
bin/Debug/net7.0/win-x64/mscordaccore.dll
bin/Debug/net7.0/win-x64/mscordbi.dll
bin/Debug/net7.0/win-x64/mscorlib.dll
bin/Debug/net7.0/win-x64/mscorrc.dll
bin/Debug/net7.0/win-x64/msquic.dll
bin/Debug/net7.0/win-x64/netstandard.dll
bin/Debug/net7.0/win-x64/System.AppContext.dll
bin/Debug/net7.0/win-x64/System.Buffers.dll
bin/Debug/net7.0/win-x64/System.Collections.Concurrent.dll
bin/Debug/net7.0/win-x64/System.Collections.dll
bin/Debug/net7.0/win-x64/System.Collections.Immutable.dll
bin/Debug/net7.0/win-x64/System.Collections.NonGeneric.dll
bin/Debug/net7.0/win-x64/System.Collections.Specialized.dll
bin/Debug/net7.0/win-x64/System.ComponentModel.Annotations.dll
bin/Debug/net7.0/win-x64/System.ComponentModel.DataAnnotations.dll
bin/Debug/net7.0/win-x64/System.ComponentModel.dll
bin/Debug/net7.0/win-x64/System.ComponentModel.EventBasedAsync.dll
bin/Debug/net7.0/win-x64/System.ComponentModel.Primitives.dll
bin/Debug/net7.0/win-x64/System.ComponentModel.TypeConverter.dll
bin/Debug/net7.0/win-x64/System.Configuration.dll
bin/Debug/net7.0/win-x64/System.Console.dll
bin/Debug/net7.0/win-x64/System.Core.dll
bin/Debug/net7.0/win-x64/System.Data.Common.dll
bin/Debug/net7.0/win-x64/System.Data.DataSetExtensions.dll
bin/Debug/net7.0/win-x64/System.Data.dll
bin/Debug/net7.0/win-x64/System.Diagnostics.Contracts.dll
bin/Debug/net7.0/win-x64/System.Diagnostics.Debug.dll
bin/Debug/net7.0/win-x64/System.Diagnostics.DiagnosticSource.dll
bin/Debug/net7.0/win-x64/System.Diagnostics.FileVersionInfo.dll
bin/Debug/net7.0/win-x64/System.Diagnostics.Process.dll
bin/Debug/net7.0/win-x64/System.Diagnostics.StackTrace.dll
bin/Debug/net7.0/win-x64/System.Diagnostics.TextWriterTraceListener.dll
bin/Debug/net7.0/win-x64/System.Diagnostics.Tools.dll
bin/Debug/net7.0/win-x64/System.Diagnostics.TraceSource.dll
bin/Debug/net7.0/win-x64/System.Diagnostics.Tracing.dll
bin/Debug/net7.0/win-x64/System.dll
bin/Debug/net7.0/win-x64/System.Drawing.dll
bin/Debug/net7.0/win-x64/System.Drawing.Primitives.dll
bin/Debug/net7.0/win-x64/System.Dynamic.Runtime.dll
bin/Debug/net7.0/win-x64/System.Formats.Asn1.dll
bin/Debug/net7.0/win-x64/System.Formats.Tar.dll
bin/Debug/net7.0/win-x64/System.Globalization.Calendars.dll
bin/Debug/net7.0/win-x64/System.Globalization.dll
bin/Debug/net7.0/win-x64/System.Globalization.Extensions.dll
bin/Debug/net7.0/win-x64/System.IO.Compression.Brotli.dll
bin/Debug/net7.0/win-x64/System.IO.Compression.dll
bin/Debug/net7.0/win-x64/System.IO.Compression.FileSystem.dll
bin/Debug/net7.0/win-x64/System.IO.Compression.Native.dll
bin/Debug/net7.0/win-x64/System.IO.Compression.ZipFile.dll
bin/Debug/net7.0/win-x64/System.IO.dll
bin/Debug/net7.0/win-x64/System.IO.FileSystem.AccessControl.dll
bin/Debug/net7.0/win-x64/System.IO.FileSystem.dll
bin/Debug/net7.0/win-x64/System.IO.FileSystem.DriveInfo.dll
bin/Debug/net7.0/win-x64/System.IO.FileSystem.Primitives.dll
bin/Debug/net7.0/win-x64/System.IO.FileSystem.Watcher.dll
bin/Debug/net7.0/win-x64/System.IO.IsolatedStorage.dll
bin/Debug/net7.0/win-x64/System.IO.MemoryMappedFiles.dll
bin/Debug/net7.0/win-x64/System.IO.Pipes.AccessControl.dll
bin/Debug/net7.0/win-x64/System.IO.Pipes.dll
bin/Debug/net7.0/win-x64/System.IO.UnmanagedMemoryStream.dll
bin/Debug/net7.0/win-x64/System.Linq.dll
bin/Debug/net7.0/win-x64/System.Linq.Expressions.dll
bin/Debug/net7.0/win-x64/System.Linq.Parallel.dll
bin/Debug/net7.0/win-x64/System.Linq.Queryable.dll
bin/Debug/net7.0/win-x64/System.Memory.dll
bin/Debug/net7.0/win-x64/System.Net.dll
bin/Debug/net7.0/win-x64/System.Net.Http.dll
bin/Debug/net7.0/win-x64/System.Net.Http.Json.dll
bin/Debug/net7.0/win-x64/System.Net.HttpListener.dll
bin/Debug/net7.0/win-x64/System.Net.Mail.dll
bin/Debug/net7.0/win-x64/System.Net.NameResolution.dll
bin/Debug/net7.0/win-x64/System.Net.NetworkInformation.dll
bin/Debug/net7.0/win-x64/System.Net.Ping.dll
bin/Debug/net7.0/win-x64/System.Net.Primitives.dll
bin/Debug/net7.0/win-x64/System.Net.Quic.dll
bin/Debug/net7.0/win-x64/System.Net.Requests.dll
bin/Debug/net7.0/win-x64/System.Net.Security.dll
bin/Debug/net7.0/win-x64/System.Net.ServicePoint.dll
bin/Debug/net7.0/win-x64/System.Net.Sockets.dll
bin/Debug/net7.0/win-x64/System.Net.WebClient.dll
bin/Debug/net7.0/win-x64/System.Net.WebHeaderCollection.dll
bin/Debug/net7.0/win-x64/System.Net.WebProxy.dll
bin/Debug/net7.0/win-x64/System.Net.WebSockets.Client.dll
bin/Debug/net7.0/win-x64/System.Net.WebSockets.dll
bin/Debug/net7.0/win-x64/System.Numerics.dll
bin/Debug/net7.0/win-x64/System.Numerics.Vectors.dll
bin/Debug/net7.0/win-x64/System.ObjectModel.dll
bin/Debug/net7.0/win-x64/System.Private.CoreLib.dll
bin/Debug/net7.0/win-x64/System.Private.DataContractSerialization.dll
bin/Debug/net7.0/win-x64/System.Private.Uri.dll
bin/Debug/net7.0/win-x64/System.Private.Xml.dll
bin/Debug/net7.0/win-x64/System.Private.Xml.Linq.dll
bin/Debug/net7.0/win-x64/System.Reflection.DispatchProxy.dll
bin/Debug/net7.0/win-x64/System.Reflection.dll
bin/Debug/net7.0/win-x64/System.Reflection.Emit.dll
bin/Debug/net7.0/win-x64/System.Reflection.Emit.ILGeneration.dll
bin/Debug/net7.0/win-x64/System.Reflection.Emit.Lightweight.dll
bin/Debug/net7.0/win-x64/System.Reflection.Extensions.dll
bin/Debug/net7.0/win-x64/System.Reflection.Metadata.dll
bin/Debug/net7.0/win-x64/System.Reflection.Primitives.dll
bin/Debug/net7.0/win-x64/System.Reflection.TypeExtensions.dll
bin/Debug/net7.0/win-x64/System.Resources.Reader.dll
bin/Debug/net7.0/win-x64/System.Resources.ResourceManager.dll
bin/Debug/net7.0/win-x64/System.Resources.Writer.dll
bin/Debug/net7.0/win-x64/System.Runtime.CompilerServices.Unsafe.dll
bin/Debug/net7.0/win-x64/System.Runtime.CompilerServices.VisualC.dll
bin/Debug/net7.0/win-x64/System.Runtime.dll
bin/Debug/net7.0/win-x64/System.Runtime.Extensions.dll
bin/Debug/net7.0/win-x64/System.Runtime.Handles.dll
bin/Debug/net7.0/win-x64/System.Runtime.InteropServices.dll
bin/Debug/net7.0/win-x64/System.Runtime.InteropServices.JavaScript.dll
bin/Debug/net7.0/win-x64/System.Runtime.InteropServices.RuntimeInformation.dll
bin/Debug/net7.0/win-x64/System.Runtime.Intrinsics.dll
bin/Debug/net7.0/win-x64/System.Runtime.Loader.dll
bin/Debug/net7.0/win-x64/System.Runtime.Numerics.dll
bin/Debug/net7.0/win-x64/System.Runtime.Serialization.dll
bin/Debug/net7.0/win-x64/System.Runtime.Serialization.Formatters.dll
bin/Debug/net7.0/win-x64/System.Runtime.Serialization.Json.dll
bin/Debug/net7.0/win-x64/System.Runtime.Serialization.Primitives.dll
bin/Debug/net7.0/win-x64/System.Runtime.Serialization.Xml.dll
bin/Debug/net7.0/win-x64/System.Security.AccessControl.dll
bin/Debug/net7.0/win-x64/System.Security.Claims.dll
bin/Debug/net7.0/win-x64/System.Security.Cryptography.Algorithms.dll
bin/Debug/net7.0/win-x64/System.Security.Cryptography.Cng.dll
bin/Debug/net7.0/win-x64/System.Security.Cryptography.Csp.dll
bin/Debug/net7.0/win-x64/System.Security.Cryptography.dll
bin/Debug/net7.0/win-x64/System.Security.Cryptography.Encoding.dll
bin/Debug/net7.0/win-x64/System.Security.Cryptography.OpenSsl.dll
bin/Debug/net7.0/win-x64/System.Security.Cryptography.Primitives.dll
bin/Debug/net7.0/win-x64/System.Security.Cryptography.X509Certificates.dll
bin/Debug/net7.0/win-x64/System.Security.dll
bin/Debug/net7.0/win-x64/System.Security.Principal.dll
bin/Debug/net7.0/win-x64/System.Security.Principal.Windows.dll
bin/Debug/net7.0/win-x64/System.Security.SecureString.dll
bin/Debug/net7.0/win-x64/System.ServiceModel.Web.dll
bin/Debug/net7.0/win-x64/System.ServiceProcess.dll
bin/Debug/net7.0/win-x64/System.Text.Encoding.CodePages.dll
bin/Debug/net7.0/win-x64/System.Text.Encoding.dll
bin/Debug/net7.0/win-x64/System.Text.Encoding.Extensions.dll
bin/Debug/net7.0/win-x64/System.Text.Encodings.Web.dll
bin/Debug/net7.0/win-x64/System.Text.Json.dll
bin/Debug/net7.0/win-x64/System.Text.RegularExpressions.dll
bin/Debug/net7.0/win-x64/System.Threading.Channels.dll
bin/Debug/net7.0/win-x64/System.Threading.dll
bin/Debug/net7.0/win-x64/System.Threading.Overlapped.dll
bin/Debug/net7.0/win-x64/System.Threading.Tasks.Dataflow.dll
bin/Debug/net7.0/win-x64/System.Threading.Tasks.dll
bin/Debug/net7.0/win-x64/System.Threading.Tasks.Extensions.dll
bin/Debug/net7.0/win-x64/System.Threading.Tasks.Parallel.dll
bin/Debug/net7.0/win-x64/System.Threading.Thread.dll
bin/Debug/net7.0/win-x64/System.Threading.ThreadPool.dll
bin/Debug/net7.0/win-x64/System.Threading.Timer.dll
bin/Debug/net7.0/win-x64/System.Transactions.dll
bin/Debug/net7.0/win-x64/System.Transactions.Local.dll
bin/Debug/net7.0/win-x64/System.ValueTuple.dll
bin/Debug/net7.0/win-x64/System.Web.dll
bin/Debug/net7.0/win-x64/System.Web.HttpUtility.dll
bin/Debug/net7.0/win-x64/System.Windows.dll
bin/Debug/net7.0/win-x64/System.Xml.dll
bin/Debug/net7.0/win-x64/System.Xml.Linq.dll
bin/Debug/net7.0/win-x64/System.Xml.ReaderWriter.dll
bin/Debug/net7.0/win-x64/System.Xml.Serialization.dll
bin/Debug/net7.0/win-x64/System.Xml.XDocument.dll
bin/Debug/net7.0/win-x64/System.Xml.XmlDocument.dll
bin/Debug/net7.0/win-x64/System.Xml.XmlSerializer.dll
bin/Debug/net7.0/win-x64/System.Xml.XPath.dll
bin/Debug/net7.0/win-x64/System.Xml.XPath.XDocument.dll
bin/Debug/net7.0/win-x64/tui_editor.deps.json
bin/Debug/net7.0/win-x64/tui_editor.dll
bin/Debug/net7.0/win-x64/tui_editor.exe
bin/Debug/net7.0/win-x64/tui_editor.pdb
bin/Debug/net7.0/win-x64/tui_editor.runtimeconfig.json
bin/Debug/net7.0/win-x64/WindowsBase.dll
bin/Debug/net7.0/win-x64/publish/tui_editor.exe
bin/Debug/net7.0/win-x64/publish/tui_editor.pdb
